.testimonials {
    display: flex;
    gap: 34px;
    padding: 34px 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
.testimonial {
    background: #fcecee;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ffc0dd17;
    padding: 22px;
    width: 250px;
    flex: 0 1 250px;
}
.testimonial .name {
    font-weight: bold;
    color: #c3538c;
    margin-bottom: 8px;
}
.role {
    font-weight: bold;
}
@media (max-width: 900px) {
    .testimonials {
        flex-direction: column;
        align-items: center;
    }
}